
  /* Sticky footer**/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
       
  .col.completa{

  	min-height: 75vh;
  }

  .flexbox {
  display: flex;
  flew-wrap: wrap;
  justify-content: center;
  align-items: center;
}
