{% extends 'catalogo/base.html' %}

{% block content %}


	<br>

	<!-- Lista de todos los productos -->
	
	<div class="row">
			
			<div class="col s4 offset-s3 completa valign-wrapper">
				
				<div class="center-align">
					
					<a href="{% url 'home' %}">	
						<p><i class="material-icons large orange-text ">assignment</i></p>
						<p><h3 class="orange-text ">Productos</h3></p>
					</a>

				</div>

			</div>
			<div class="col s4 completa valign-wrapper">
				
				<div class="center-align">
						
					<a href="{% url 'tiendas' %}">	
						<p><i class="material-icons large orange-text ">store</i></p>
						<p><h3 class="orange-text ">Tiendas</h3></p>
					</a>

				</div>

			</div>
			

	</div>


{% endblock content %}